<!DOCTYPE html>
<html>
<head>
  <title>Mobile Scan</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/quagga/dist/quagga.min.js"></script>
</head>
<body>
  <video id="scanner" width="100%" height="100%"></video>
  <div id="message" style="color: green;"></div>
  <div id="timeTaken"></div>
  <div id="error" style="color: brown;"></div>

  <script>
    $(document).ready(function() {
      // Configure QuaggaJS
      Quagga.init({
        inputStream: {
          name: "Live",
          type: "LiveStream",
          constraints: {
            facingMode: "environment", // Or "user" for front camera
          },
          target: document.getElementById("scanner"),
        },
        decoder: {
          readers: ["ean_reader"], // Specify the barcode types you want to scan
        },
      }, function(err) {
        if (err) {
          console.error("Error initializing Quagga:", err);
          return;
        }
        // Start QuaggaJS
        Quagga.start();
      });

      // Register event listeners
      Quagga.onDetected(function (result) {
        var barcodeValue = result.codeResult.code;
        $.ajax({
          url: window.location.href,
          method: "POST",
          data: {
            csrfmiddlewaretoken: $("[name=csrfmiddlewaretoken]").val(),
            barcode_value: barcodeValue,
          },
          success: function (response) {
            console.log(response); // Log the response to inspect its content

            try {
              var jsonResponse = JSON.parse(JSON.stringify(response));
              if (jsonResponse.message) {
                $("#message").text(jsonResponse.message);
              } else {
                $("#message").text("");
              }
              if (jsonResponse.time_taken) {
                $("#timeTaken").text(jsonResponse.time_taken);
              } else {
                $("#timeTaken").text("");
              }
              if (jsonResponse.error) {
                $("#error").text(jsonResponse.error);
              } else {
                $("#error").text("");
              }
            } catch (error) {
              console.log("Error parsing JSON response:", error);
            }
          },
          error: function (xhr, status, error) {
            // Handle the error response
            console.log(error);
            $("#message").text("");
            $("#timeTaken").text("");
            $("#error").text("An error occurred while processing the request.");
          },
        });
      });
    });
  </script>
</body>
</html>