{% extends "base.html" %}

{% block title %} Barcode Scanner {% endblock %}

{% block content %}
<form method="POST">
  {% csrf_token %}
  <!-- Other form fields -->
  <input type="hidden" name="current_url" value="{{ current_url }}" />
  <!-- Submit button -->
</form>

<input id="barcodeInput" type="text" autofocus />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="path/to/instascan.min.js"></script>
<script>
  $(document).ready(function () {
    $("#barcodeInput").on("input", function () {
      var barcodeValue = $(this).val();
      if (barcodeValue) {
        $.ajax({
          url: "",
          method: "POST",
          data: {
            csrfmiddlewaretoken: $("[name=csrfmiddlewaretoken]").val(),
            barcode_value: barcodeValue,
          },
          success: function (response) {
            console.log(response); // Log the response to inspect its content

            try {
              var jsonResponse = JSON.parse(JSON.stringify(response));
              if (jsonResponse.message) {
                $("#message").text(jsonResponse.message);
              } else {
                $("#message").text("");
              }
              if (jsonResponse.time_taken) {
                $("#timeTaken").text(jsonResponse.time_taken);
              } else {
                $("#timeTaken").text("");
              }
              if (jsonResponse.error) {
                $("#error").text(jsonResponse.error);
              } else {
                $("#error").text("");
              }
            } catch (error) {
              console.log("Error parsing JSON response:", error);
            }
          },
          error: function (xhr, status, error) {
            // Handle the error response
            console.log(error);
            $("#message").text("");
            $("#timeTaken").text("");
            $("#error").text("An error occurred while processing the request.");
          },
        });
      }
    });
  });
</script> 

<div id="message" style="color:green"></div>
<div id="timeTaken"></div>
<div id="error" style="color:brown;"></div>

{% endblock %}
