{% extends "base.html" %}

{% block title %} Barcode Scanner {% endblock %}

{% block content %}

<style>
  /* CSS styles */

  body {
  background-image: url("/media/background_images/scan.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}


body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: -1;
}

@media only screen and (max-width: 768px) {
  body {
    background-size: cover;
    background-repeat: repeat;
  }
}
  .dark-grey {
  background-color: darkgrey;
  width: max-content;
  border: 1px solid transparent;
  padding: 10px;
  border-radius: 2px;
}
  form {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20%;
  }

  #barcodeInput {
    margin-bottom: 10px;
    padding: 10px;
    background-color: transparent;
    width: 200px;
    border-radius: 5px;
  }
  .container{
    margin-left: 44%;
    justify-content: center;
    align-items: center;
  }

  #message,
  #timeTaken,
  #error {
    margin-bottom: 10px;
  }
</style>

<form method="POST">
  {% csrf_token %}
  <!-- Other form fields -->
  <input type="hidden" name="current_url" value="{{ current_url }}" />
  <!-- Submit button -->
  <input id="barcodeInput" type="text" autofocus />
</form>
<div class="container">
<div id="message" style="color:green"></div>
<div id="timeTaken"></div>
<div id="error" style="color:brown;"></div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function () {
    $("#barcodeInput").on("input", function () {
      var barcodeValue = $(this).val();
      if (barcodeValue) {
        $.ajax({
          url: "",
          method: "POST",
          data: {
            csrfmiddlewaretoken: $("[name=csrfmiddlewaretoken]").val(),
            barcode_value: barcodeValue,
          },
          success: function (response) {
// success response
          try {
            
            if (response.message) {
            $("#message").text(response.message);
            $("#error").text("");
            $("#timeTaken").text("");
            $("#message").addClass("dark-grey"); 
          } else if (response.time_taken) {
            $("#timeTaken").text(response.time_taken);
            $("#message").text("");
            $("#error").text("");
            $("#timeTaken").addClass("dark-grey"); 
          } else if (response.error) {
            $("#error").text(response.error);
            $("#message").text("");
            $("#timeTaken").text("");
            $("#error").addClass("dark-grey"); 
          } else {
            $("#error").text("");
            $("#message").text("");
            $("#timeTaken").text("");
            $("#error").removeClass("dark-grey"); 
            $("#timeTaken").removeClass("dark-grey"); 
            $("#message").removeClass("dark-grey"); 
          }
          } catch (error) {
          }
        },
          error: function (xhr, status, error) {
            // Handle the error response
            $("#message").text("");
            $("#timeTaken").text("");
            $("#error").text("An error occurred while processing the request.");
          },
        });
      }
    });
  });
</script>

{% endblock %}