{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<style>
  body {
    background-image: url("/media/background_images/runner.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .dashboard {
    padding-top: 10px;
    margin-top: -10%;
    text-align: center;
    margin: 0 auto;
    max-width: 600px;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
</style>

<div class="dashboard">
  <h1>Dashboard</h1>
  <p>
    Welcome to your dashboard. You can <a href="{% url "edit" %}">edit your profile</a> or <a href="{% url "password_change" %}">change your password</a>.
  </p>
  <p>
    <span style="font-weight: bolder;" >To start/finish a race:</span> <a href="{% url "camera_scan_barcode" %}">scan barcode with camera</a> or use <a href="{% url "scan_barcode" %}">Barcode scanner</a> 
  </p>
  <!-- Or <a href="{% url "camera_scan_qrcode" %}">scan QR code</a> -->

</div>
{% endblock %}